/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
}

/* 
* MARK:Navbar 
*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  height: 4em;
  position: sticky;
  top: 0;
  z-index: 30;
  border-bottom: 1px solid rgba(115, 115, 115, 0.6); /* neutral-300/60 */
  background-color: rgba(255, 255, 255, 0.6); /* white/60 */
  backdrop-filter: blur(8px); /* backdrop-blur-md */
}

.nav-list {
  display: flex;
  gap: 1em;
}
.nav-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links {
  color: #4b5563;
  font-size: 1rem; /* text-sm */
  font-weight: 600;
  text-decoration: none;
  margin-right: 2em;
}
/*
MARK:Product
 */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2em;
  place-items: center;
}

.product-card {
  width: 300px;
  height: 400px;
  margin: 1em;
  padding: 1em;
  border: 1px solid #e5e7eb;
  /* #e5e7eb */
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card img:hover {
  opacity: 0.8;
}

.product-card img {
  max-width: 100%;
  height: 150px;
}

.product-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #111827;
  font-size: 400;
}

.product-price {
  font-family: inherit;
  color: #6b7280;
}

.product-add-cart-btn {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: gold;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
button {
  border-radius: 8px;
  border: 2px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-box {
  display: flex;
  gap: 1em;
}

/* Background Overlay when Modal is Open */
.overlay {
  opacity: 0.2;
  pointer-events: none;
}

/* Disable click events outside modal when open */
body.modal-open {
  pointer-events: none;
}

body.modal-open .cart-modal {
  pointer-events: all;
}
::-webkit-scrollbar {
  width: 1px;
  display: none;
}

/*
MARK:Cart
 */
/* Overlay */
.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Modal Container */
.cart-modal-container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Header */
.cart-modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart-modal-header h2 {
  font-size: 20px;
  margin: 0 auto;
  border: 2px solid #111827;
  padding: 0.2em 0.75em;
  border-radius: 30px;
  background-color: #111827;
  color: #fff;

  text-align: center;
  width: 150px;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.order-message {
  color: green;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
.added-message {
  color: green;
  font-weight: bold;
  background-color: #e6f7e6;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-style: italic;
}
.empty-cart-text {
  color: red;
  text-align: center;
  margin-left: 2.5em;
}

/* Cart Items Section */
.cart-items-section {
  margin-top: 20px;
  min-height: 50vh;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.remove-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: red;
  float: right;
}

.cart-item-image {
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item-details {
  flex: 1;
  margin-left: 10px;
}

.cart-item-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.cart-item-price {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

/* Summary Section */
.cart-summary {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.discount {
  color: green;
}

.total {
  font-weight: bold;
}

/* Inputs Section */
.inputs-section {
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.phone-input {
  display: flex;
  align-items: center;
}

/* Checkout Button */
.checkout-button {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #218838;
}

/* Discount Buttons */
.discount-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.discount-buttons button {
  width: 48%;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.discount-buttons button:hover {
  background-color: #e0e0e0;
}

/*
MARK:Media-Queries
 */

@media (max-width: 768px) {
  .product-container {
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .cart-modal-container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    border-radius: unset;
  }
  .cart-item {
    justify-content: space-between;
  }
}

@media (min-width: 570px) and (max-width: 769px) {
  .product-container {
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 570px) and (max-width: 648px) {
    .nav {
      width: 112%;
    }
    .cart-modal-overlay {
      width: 112vw;
      height: 100%;
    }
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .product-container {
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) and (max-width: 1320px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
